@layer utilities {
  @variants responsive {
    .font-din {
      font-family: DDin, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    }
  }
}

// DDin font
@font-face {
  font-family: DDin;
  src: url("fonts/d-din/D-DIN.otf") format("opentype");
  size-adjust: 114%;
}
@font-face {
  font-family: DDin;
  src: url("fonts/d-din/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
  size-adjust: 114%;
}
@font-face {
  font-family: DDin;
  src: url("fonts/d-din/D-DIN-Italic.otf") format("opentype");
  font-style: italic;
  size-adjust: 114%;
}
@font-face {
  font-family: DDin;
  src: url("fonts/d-din/D-DINCondensed.otf") format("opentype");
  size-adjust: 114%;
  font-stretch: condensed;
}
@font-face {
  font-family: DDin;
  src: url("fonts/d-din/D-DINCondensed-Bold.otf") format("opentype");
  size-adjust: 114%;
  font-weight: bold;
  font-stretch: condensed;
}

// Roboto
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}